<div class="barcode col-md-5 col-sm-5 mb-3 mb-md-0"{% if not librarygame.barcode and not listgame.barcode %} style="display: none"{% endif %}>
  {% include 'tags/icon.html' with name='upc-scan' class='text-muted mr-2 mb-1' %}<!--
  --><span class="barcode-value">{% if librarygame.barcode %}{{ librarygame.barcode }}{% else %}{{ listgame.barcode }}{% endif %}</span><!--
  --><button class="barcode-edit btn btn-link" data-id="{{ librarygame.id }}" style="display: none">
    {% include 'tags/icon.html' with name='pencil-fill' class='mb-1' alt='Edit Barcode' %}
  </button>
</div>
<form id="barcode-{{ listgame.id }}" class="barcode-submit col-7 col-md-2 col-sm-5 mb-3 mb-md-0 pr-3" {% if librarygame.barcode or listgame.barcode %}style="display: none" {% endif %}action="{{ route }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="{% if librarygame %}librarygame_id{% else %}listgame_id{% endif %}" value="{{ id }}">
  <input type="hidden" name="next" value="{{ request.get_full_path }}#id_{{ id }}">
  <label class="sr-only" for="barcode-text-{{ library.id }}-{{ listgame.id }}">Barcode (UPC / EAN-13)</label>
  <input id="barcode-text-{{ library.id }}-{{ listgame.id }}" type="text" name="barcode" maxlength="13" class="form-control" placeholder="UPC / EAN-13">
</form>
<div class="barcode-submit col-5 col-md-3 col-sm-7 mb-3 mb-md-0"{% if librarygame.barcode or listgame.barcode %} style="display: none"{% endif %}>
  <button class="btn btn-outline-primary" form="barcode-{{ listgame.id }}">Set Barcode</button>
  <button class="barcode-submit barcode-cancel btn btn-link" style="display: none">Cancel</button>
</div>