{% load static %}
<span class="navbar-brand" href="/">
  <svg class="mb-1" aria-labeledby="brand" width="1.25em" height="1.25em" style="color: #295235; color: #fff">
    <title id="brand">{{ ORG_NAME }}</title>
    <use xlink:href="{% static 'images/logo.svg' %}#default"/>
  </svg>
</span>
