{% load bootstrap4 %}
{% if games or has_filters %}
  <div class="card mb-4 alert-secondary pt-1">
    <form class="form card-body d-flex flex-wrap pt-2" action="{{ route }}?{% if count %}page_count={{ count }}{% endif %}" method="get">
      {% bootstrap_form filters_form form_group_class='mr-3 mb-0' %}
      <button class="btn btn-primary align-self-start" style="margin-top: 2rem">Filter</button>
      {% include 'tags/search_help.html' with classes='ml-0 ml-sm-5 ml-md-0 ml-xl-auto mb-0' styles='margin-top: 2rem' %}
    </form>
  </div>
{% endif %}
