<li id="id_{{ id }}" class="card mb-3{% if librarygame and librarygame.is_virtual %} text-muted{% endif %}">
  <div class="row no-gutters">
    <div class="col-md-2 position-relative">
      <img class="w-100 h-100" src="{{ game.image }}" alt="Preview image for game {{ game.name }}" style="max-height: 118px; object-fit: cover{% if librarygame and librarygame.is_virtual %}; opacity: .65{% endif %}">
      {% comment %}
      {% if game.categories or game.mechanics %}
        <span class="d-flex position-absolute" style="bottom: .75em; right: .75em">
          {% for badge in game.top_tags %}
            <span class="badge badge-info ml-2">{{ badge }}</span>
          {% endfor %}
        </span>
      {% endif %}
      {% endcomment %}
    </div>
    <div class="col-md-7 col-lg-8">
      <div class="card-body">
        <h5 class="card-title text-truncate mb-1">
          {{ game.name }}{% if game.published %} <small class="text-muted">({{ game.published }})</small>{% endif %}
        </h5>
        <h6 class="card-subtitle text-truncate text-muted mb-2">{{ game.publisher }}</h6>
        <div class="d-flex flex-wrap">
          <span class="mr-4" style="min-width: 50px">
            {% if game.min_age %}
              {% include 'tags/icon.html' with name='person-fill' class='text-muted mb-1' alt='Ages' %}
              {{ game.min_age }}+
            {% endif %}
          </span>
          <span class="mr-4" style="min-width: 66px">
            {% if game.min_players or game.max_players %}
              {% include 'tags/icon.html' with name='people-fill' class='text-muted mb-1 mr-1' alt='Players' %}
              {% if game.min_players == game.max_players %}
                {{ game.min_players }}
              {% else %}
                {{ game.min_players }}-{{ game.max_players }}
              {% endif %}
            {% endif %}
          </span>
          <span class="mr-4" style="min-width: 94px">
            {% if game.min_playtime or game.max_playtime %}
              {% include 'tags/icon.html' with name='hourglass-bottom' class='text-muted mb-1' alt='Time' %}
              {% if game.min_playtime == game.max_playtime %}
                {{ game.min_playtime }}m
              {% else %}
                {{ game.min_playtime }}-{{ game.max_playtime }}m
              {% endif %}
            {% endif %}
          </span>
          {% if game.rules %}
            {% comment %}
              Not normally a big fan of sites that do "open in new tab" stuff, but if we're using this as a game day thing, we may want to not leave the site.
            {% endcomment %}
            <a class="mr-5" href="{{ game.rules }}" target="_blank" rel="nofollow noopener" style="{% if librarygame and librarygame.is_virtual %}opacity: .65{% endif %}">
              Rules
            </a>
          {% else %}
            <span class="mr-5" style="min-width: 2.375rem"></span>
          {% endif %}
          {% if force_show_owner_info or librarygame and listgame.list and not librarygame.is_virtual %}
            <small class="mt-1 text-muted">
              Owned By
              <a style="opacity: .8" href="{% url 'boxwood.controllers.user.profile' listgame.list.user.username %}">
                {% if listgame.list.user.first_name %}
                  {{ listgame.list.user.first_name }}
                {% else %}
                  {{ listgame.list.user.username }}
                {% endif %}
              </a>
              from <a style="opacity: .8" href="{% url 'boxwood.controllers.user.list' listgame.list.user.username listgame.list.id %}">{{ listgame.list.name }}</a>
            </small>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-2">
      <div class="card-body d-flex h-100 flex-wrap justify-content-end align-items-center">
        {% if side_actions and request.user.profile.verified %}
          {% include side_actions %}
        {% endif %}
      </div>
    </div>
    {% if action_bar and request.user.profile.verified %}
      <div class="row no-gutters card-body border-top">
        {% include action_bar %}
      </div>
    {% endif %}
  </div>
</li>