{% load static %}
{% load uuid %}
{% uuid as id %}
<svg class="bi{% if class %} {{ class }}{% endif %}" {% if alt %}aria-labelledby="{{ id }}" {% endif %}{% if iw != 'auto' %} width="{{ iw|default:'1em' }}" {% endif %}{% if ih != 'auto' %}height="{{ ih|default:'1em' }}" {% endif %}style="{{ style|default:'' }}" fill="currentColor">
  {% if alt %}<title id="{{ id }}" lang="en">{{ alt }}</title>{% endif %}
  <use xlink:href="{% static 'images/bootstrap-icons.svg' %}#{{ name }}"/>
</svg>