{% load media %}
{% if libraries %}
  <ul class="row p-0{% if libraries_pages == 1 %} mb-5{% endif %}">
  {% for library in libraries %}
    <li class="col-8 col-sm-6 col-md-3 mb-3 ml-auto ml-sm-0 mr-auto mr-sm-0 pl-2 pr-2">
      <div class="card">
        <img src="{% media library.image %}" class="card-img-top" alt="Thumbnail for {{ library.name }}">
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ library.name }}{% if library.count %} <small class="text-muted">({{ library.count }})</small>{% endif %}</h5>
          {% if listgame_id or game_id %}
            <form action="{% url 'boxwood.controllers.libraries.confirm_game_post' library.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="{% if listgame_id %}listgame_id" value="{{ listgame_id }}{% else %}game_id" value="{{ game_id }}{% endif %}">
              <input type="hidden" name="next" value="{{ next }}">
              <button class="btn btn-primary">Select</button>
            </form>
          {% else %}
            <a class="" href="{% url 'boxwood.controllers.libraries.library' library.id %}">View List</a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p class="mt-5">We don't have any libraries yet, sorry. Check back later!</p>
{% endif %}