{% if lists %}
    <ol class="list-group{% if pages == 1 %} mb-5{% endif %}">
    {% for list in lists %}
      {% comment %}
        Bootstrap horizontal cards are such crap. Sooo many divs.
      {% endcomment %}
      <li id="id_{{ list.id }}" class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-2 position-relative">
            <img class="w-100 h-100" style="max-height: 118px; object-fit: cover" src="{{ list.image }}" alt="Preview image for list {{ list.name }}{% if not username %} by {{ list.user.username }}{% endif %}">
            <span class="badge badge-light position-absolute" style="right: 1em; bottom: 1em">{{ list.count }}</span>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title text-truncate">
                {{ list.name }}
                {% if not username %}
                  by
                  <a href="{% url 'boxwood.controllers.user.profile' list.user.username %}">
                    {% if list.user.first_name %}
                      {{ list.user.first_name }}
                    {% else %}
                      {{ list.user.username }}
                    {% endif %}
                  </a>
                {% endif %}
              </h5>
              {% if request.user.username != list.user.username %}
                <form class="d-flex">
                  {% if list.lendable %}
                    <button type="submit" class="btn btn-success" title="This list is lendable" disabled>
                      {% include 'tags/icon.html' with name='share-fill' class='mb-1' alt='This list is lendable' %}
                    </button>
                  {% else %}
                    <div style="width: 42px"></div>
                  {% endif %}
              {% elif list.lendable %}
                <form class="d-flex align-center" action="{% url 'boxwood.controllers.user.unlend_list' list.user.username list.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}#id_{{ list.id }}">
                  <button type="submit" class="btn btn-success" title="Make list private">
                    {% include 'tags/icon.html' with name='share-fill' class='mb-1' alt='Make list private' %}
                  </button>
              {% else %}
                <form class="d-flex align-center" action="{% url 'boxwood.controllers.user.lend_list' list.user.username list.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}#id_{{ list.id }}">
                  <button type="submit" class="btn btn-outline-primary" title="Make list lendable">
                    {% include 'tags/icon.html' with name='share' class='mb-1' alt='Make list lendable' %}
                  </button>
              {% endif %}
                <a class="btn btn-link ml-2" href="{% url 'boxwood.controllers.user.list' list.user.username list.id %}">View List</a>
              </form>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ol>
{% else %}
  {% if global %}
    <p>Strange, nobody has any lists yet.</p>
  {% elif username and request.user.username == username %}
    <div class="alert alert-info">
      Hey, you don't have any lists yet. If you have a BGG account, <a href="https://www.boardgameatlas.com/search/user/bgg-import">you can import it</a> into your Board Game Atlas account.
      If you don't, or would like to create new lists, <a href="https://www.boardgameatlas.com/popular">start searching for games</a> and then add them to your lists from the game details page.
    </div>
  {% else %}
    <p>Sorry, this user doesn't have any lists yet. They should go create some.</p>
  {% endif %}
{% endif %}
