{% load range %}
{% load filters %}
{% if pages > 1 %}
  <nav aria-label="{{ label }}" class="{{ classes }}">
    <ol class="pagination justify-content-center">
      <li class="page-item{% if page == 1 %} disabled {% endif %}">
        {% if page == 1 %}
          <span class="page-link">Prev</span>
        {% elif count == 50 %}
          <a class="page-link" href="{{ route }}/?page={{ page }}{% filter_params request filters_form %}">Prev</a>
        {% else %}
          <a class="page-link" href="{{ route }}/?page={{ page }}&amp;count={{ count }}{% filter_params request filters_form %}">Prev</a>
        {% endif %}
      </li>
      {% for p in pages|range %}
        <li class="page-item{% if p|add:'1' == page %} active" aria-current="page{% endif %}">
          {% if p|add:'1' == page %}
            <span class="page-link">{{ p|add:'1' }}</span>
          {% elif count == 50 %}
            <a class="page-link" href="{{ route }}/?page={{ p|add:'1' }}{% filter_params request filters_form %}">{{ p|add:'1' }}</a>
          {% else %}
            <a class="page-link" href="{{ route }}/?page={{ p|add:'1' }}&amp;count={{ count }}{% filter_params request filters_form %}">{{ p|add:'1' }}</a>
          {% endif %}
        </li>
      {% endfor %}
      <li class="page-item{% if page == pages %} disabled{% endif %}">
        {% if page == pages %}
          <span class="page-link">Next</span>
        {% elif count == 50 %}
          <a class="page-link" href="{{ route }}/?page={{ page|add:'1' }}{% filter_params request filters_form %}">Next</a>
        {% else %}
          <a class="page-link" href="{{ route }}/?page={{ page|add:'1' }}&amp;count={{ count }}{% filter_params request filters_form %}">Next</a>
        {% endif %}
      </li>
    </ol>
  </nav>
{% endif %}
