{% if user.profile.roles or user.profile.advisor %}
  <div class="{{ classes }}">
    {% if user.profile.board %}
      <span class="badge badge-pill badge-success" title="I'm a {{ ORG_NAME_SHORT }} board member">Board Member</span>
    {% endif %}
    {% if user.profile.advisor %}
      <span class="badge badge-pill badge-success" title="I'm a {{ ORG_NAME_SHORT }} advisor">Advisor</span>
    {% endif %}
    {% for role in user.profile.roles.all %}
      {% if role.link %}
        <a class="badge badge-pill {{ role.classes }}" style="{{ role.styles }}" href="{{ role.link }}" title="{{ role.description }}">
          {{ role.name }}
        </a>
      {% else %}
        <span class="badge badge-pill {{ role.classes }}" style="{{ role.styles }}" title="{{ role.description }}">
          {{ role.name }}
        </span>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}