{% comment %}
  Manual padding is to match the form input's height so it doesn't look weird.
{% endcomment %}
<details class="alert alert-info align-self-start col-sm-5 {{ classes }} small" style="padding-top: .525rem; padding-bottom: .525rem; {{ styles }}">
  <summary>Search Help</summary>
  <table class="table table-borderless mb-0">
    <tr>
      <th scope="row">Names</th>
      <td>Full names or a single word/word-part work best.</th>
    </tr>
    <tr>
      <th scope="row">Years</th>
      <td>
        Ex: 2020 or 2016-2020.<br>
        Year searching is inclusive of the years listed.<br>
        Only one single year or range is supported.
      </th>
    </tr>
    <tr>
      <th scope="row">Mechanics<br>Categories</th>
      <td>
        Ex: Area Control; auction; worker placement<br>
        These are just matched on name. They won't return any hits on their own.
      </th>
    </tr>
  </table>
</details>