{% extends 'base.html' %}

{% block header %}
  <h2>Welcome</h2>
  <p>This is {{ APP_NAME }}, {{ ORG_NAME }}'s library management app.</p>
{% endblock %}

{% block content %}
  {% if not request.user.is_authenticated %}
    <div class="alert alert-info">
      <p>
        New here? If you'd like to suggest games or contribute to the {{ ORG_NAME_SHORT }} event library, sign up or log in with Board Game Atlas to get started.
        You'll need to catalog your games and get them into lists, but don't worry, if you've already done it on BoardGameGeek they have a handy import feature.
      </p>
      <p class="mb-0">
        Contributing a game doesn't mean you're giving it to us permanently! We only need them for game days.
        Additionally, this app was specifically designed to be able to keep track of whose owns what so everyone gets their games back.
      </p>
    </div>
  {% endif %}
  <div class="d-flex">
    <a href="{% url 'boxwood.controllers.users' %}" class="btn btn-outline-primary">View All Users</a>
    <a href="{% url 'boxwood.controllers.users.lists' %}" class="btn btn-outline-primary ml-3">View All Lists</a>
    {% if request.user.is_staff and request.user.is_superuser and verification_requests %}
      <a href="{% url 'boxwood.controllers.users.verification_requests' %}" class="btn btn-primary ml-3">
        Review {{ verification_requests }} User Request{% if verification_requests > 1 %}s{% endif %}
      </a>
    {% endif %}
  </div>
  <h4 class="d-inline-block mt-5">{{ ORG_NAME_SHORT }} Event Libraries</h4>
  {% if request.user.is_superuser or request.user.is_staff %}
    <a href="{% url 'boxwood.controllers.libraries.new' %}" class="btn btn-primary ml-4 mb-1">Create New Library</a>
  {% endif %}
  <p>
    These are all of our libraries we use for various events. We tend to bring more games to larger events.
    Feel free to take a look around to see what we have.
  </p>
  {% url 'boxwood.controllers.index' username=username list_id=list.id as route %}
  {% include 'tags/paginator.html' with label='Libraries list (top)' classes='mb-4' page=page pages=libraries_pages route=route %}
  {% include 'tags/libraries.html' with libraries=libraries %}
  {% include 'tags/paginator.html' with page=page label='Libraries list (bottom)' classes='mt-4 mb-5' pages=libraries_pages route=route %}
{% endblock %}
