{% extends 'subpage.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    All Users
  </li>
{% endblock %}

{% block title %}
  All Users
{% endblock %}

{% block content %}
  {{ block.super }}
  {% url 'boxwood.controllers.users' username=username as route %}
  {% include 'tags/paginator.html' with label='All users pages (top)' classes='mb-4' page=page pages=users_pages route=route %}
  {% if users %}
  <ul class="d-flex flex-wrap{% if users_pages == 1 %} mb-5 {% endif %}p-0">
  {% for user in users %}
    <li class="card mr-3 mb-3" style="width: 205px">
      <div class="avatar-img-top card-img-top" style="{{ user.profile.image_css }}">
        {% comment %}
          This should have an alt tag, but there's nothing more meaningful we can say than "{{ user.username }}'s profile image"
          and browsers will display that text when it doesn't load, which looks really bad if someone hasn't set an avatar.
        {% endcomment %}
        <img src="{{ user.profile.image }}" class="avatar-img w-100" alt="">
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title mb-0">
          {% if user.first_name %}
            {{ user.first_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
        </h5>
        {% include 'tags/roles.html' with user=user classes="mt-2 mb-auto" %}
        <div class="mt-2">
          <a href="{% url 'boxwood.controllers.user.profile' user.username %}" class="mt-2">View Profile</a>
          {% comment %}<a href="{% url 'boxwood.controllers.user.lists' user.username %}">View Lists</a>{% endcomment %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
  {% else %}
    <p>No users? Inconceivable!</p>
  {% endif %}
  {% include 'tags/paginator.html' with page=page label='All users pages (bottom)' classes='mt-4 mb-5' pages=users_pages route=route %}
{% endblock %}
