{% extends 'subpage.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.users' %}">All Users</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Verification Requests
  </li>
{% endblock %}

{% block title %}
  Verification Requests
{% endblock %}

{% block content %}
  {{ block.super }}
  <p>
    This site is not configured to automatically approve users. When a user is approved, their games will be synced and they'll be able to suggest games to libraries.
    Rejected users will still be able to view the site but will not show up in the main users list, will not be synced, and cannot suggest games to libraries.
  </p>
  {% url 'boxwood.controllers.users.verification_requests' username=username as route %}
  {% include 'tags/paginator.html' with label='Requesting users pages (top)' classes='mt-4 mb-4' pages=users_pages %}
  {% if users %}
  <ul class="{% if users_pages == 1 %} mb-5 mt-4 {% endif %}p-0">
  {% for user in users %}
    <li class="card mr-3 mb-3">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title mb-0">
          {% if user.first_name %}
            {{ user.first_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
        </h5>
        <p class="card-text">{{ user.profile.verification_request.staff_context|linebreaks }}</p>
        <div class="d-flex">
          <form action="{% url 'boxwood.controllers.users.verification_requests_post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button class="btn btn-primary" name="approved" value="true">Approve</button>
            <button class="btn btn-danger ml-5" name="approved" value="false">Reject</button>
          </form>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
  {% else %}
    <div class="alert alert-info" role="alert">
      There are currently no users to approve.
    </div>
  {% endif %}
  {% include 'tags/paginator.html' with page=page label='Requesting users pages (bottom)' classes='mt-4 mb-5' pages=users_pages %}
{% endblock %}
