{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item active">
    <a href="{% url 'boxwood.controllers.libraries.library' library.id %}">{{ library.name }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {% if request.user.is_staff or request.user.is_superuser %}
      Add a Game
    {% else %}
      Suggest a Game
    {% endif %}
  </li>
{% endblock %}

{% block title %}
  {% if request.user.is_staff or request.user.is_superuser %}
    Add a Game
  {% else %}
    Suggest a Game
  {% endif %}
{% endblock %}

{% block header %}
  <h2 class="d-inline-block mb-4">
    {% if request.user.is_staff or request.user.is_superuser %}
      Add to
    {% else %}
      Request for
    {% endif %}
    Library
  </h2>
  <a class="ml-4" href="{% url 'boxwood.controllers.libraries.library' library.id %}">Cancel</a>
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="d-flex flex-wrap">
    <form id="library-add" class="d-flex col-sm-8 col-md-5 mt-3" action="{% url 'boxwood.controllers.libraries.add_game_post' library.id %}" method="post">
      {% csrf_token %}
      {% bootstrap_field form.criteria show_label='sr-only' %}
      <button type="submit" class="btn btn-primary align-self-start ml-3">Search</button>
    </form>
    {% include 'tags/search_help.html' with classes='col-sm-8 col-md-5 mt-3 mb-4' %}
  </div>
  {% if games %}
    <h4 class="mb-2">Top 10 Results</h4>
    {% if toomany %}
      <div class="alert alert-warning">More than 10 games were found. Not seeing what you were looking for? Try adding more search criteria.</div>
    {% endif %}
    {% include 'tags/games.html' with side_actions='tags/actions/library_submit.html' %}
  {% elif dirty %}
    <div class="alert alert-warning mt-3">No games match your search criteria. Check your spelling or try searching for something a bit more broad.</div>
  {% endif %}
{% endblock %}
