{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {% if request.user.is_staff or request.user.is_superuser %}
      Add to
    {% else %}
      Suggest for
    {% endif %}
    Library
  </li>
{% endblock %}

{% block title %}
  {% if request.user.is_staff or request.user.is_superuser %}
    Add to
  {% else %}
    Suggest for
  {% endif %}
  Library
{% endblock %}

{% block header %}
  <h2 class="d-inline-block mb-4">
    {% if request.user.is_staff or request.user.is_superuser %}
      Add to
    {% else %}
      Suggest for
    {% endif %}
    Library
  </h2>
  <a class="ml-4" href="{{ next }}">Cancel</a>
  {% include 'tags/errors.html' with errors=errors %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/libraries.html' with submit=listgame_id %}
{% endblock %}
