<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ APP_NAME }}: {{ request.user.username }}'s {{ library.name }} Library Packlist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
      ol {
        margin: 0;
        padding: 0;
        column-count: 2;
      }

      li {
        display: inline-flex;
        list-style-type: none;
        padding: .75rem 1.25rem;
        padding-left: 0;
      }

      .checkbox {
        align-self: center;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        border: 2px solid black;
      }

      .boxbox {
        align-self: center;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        border: 2px solid black;
        border-radius: 50%;
      }

      .key {
        width: 3em;
        height: 1.5em;
      }

      small {
        display: block;
      }
    </style>
  </head>
  <body>
    <main class="container pt-3">
      <h2>{{ request.user.username }}'s {{ library.name }} Library Packlist</h2>
      <p>
        Use the first box for packing before the event, and the second box when packing to go home.<br>
        The circle is to record which of your travel "box"es a game goes in if that matters.
      </p>
      {% if games %}
        <ol>
        {% for librarygame in games %}
          <li>
            <div class="checkbox"></div>
            <div class="checkbox"></div>
            <div class="boxbox"></div>
            <div>
              <span>{{ librarygame.listgame.game.name }}{% if librarygame.listgame.game.published %} ({{ librarygame.listgame.game.published }}){% endif %}</span>
              {% if librarygame.listgame.game.publisher %}<small>by {{ librarygame.listgame.game.publisher }}</small>{% endif %}
            </div>
          </li>
        {% endfor %}
        </ol>
      {% else %}
        <p>You have no games in this library.</p>
      {% endif %}
    </main>
  </body>
</html>
