{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.libraries.library' library.id %}">
      {{ library.name }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.libraries.add_game' library.id %}">
      Add Game
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Confirm Game
  </li>
{% endblock %}

{% block title %}
  Confirm Game
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if games %}
    <h3>Placeholder</h3>
    <p>Choose this option if none of the lendable options are suitable or it is intended to later fulfill this addition from a list later or buy a copy for the {{ ORG_NAME_SHORT }} library.</p>
  {% else %}
    <p>There are no currently no lendable copies of this game. Placeholders can later be converted to real copies if one becomes available.</p>
  {% endif %}
  {% if already_have %}
    <div class="alert alert-warning" style="width: 19.375rem; width: -webkit-max-content; width: -moz-max-content; width: max-content" role="alert">
      This game already exists in the library.
    </div>
  {% endif %}
  {% if from_librarygame %}
    <a class="btn btn-outline-primary" href="{{ next }}">Keep Placeholder</a>
  {% else %}
    <form id="library-confirm" class="col-sm-5 mt-3" action="{% url 'boxwood.controllers.libraries.confirm_game_post' library.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="game_id" value="{{ game_id }}">
      <input type="hidden" name="next" value="{% url 'boxwood.controllers.libraries.library' library.id %}">
      <button class="btn btn-primary">
        {% if already_have %}
          Add Anyway
        {% else %}
          Add Placeholder
        {% endif %}
      </button>
      <a class="ml-4 mr-5" href="{% if next %}{{ next }}{% else %}{% url 'boxwood.controllers.libraries.add_game' library.id %}{% endif %}">Cancel</a>
    </form>
  {% endif %}
  {% if games %}
    <h3 class="mt-3">Lendable Copies</h3>
    {% include 'tags/games.html' with force_show_owner_info=True side_actions='tags/actions/library_confirm.html' %}
  {% endif %}
{% endblock %}
