{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.libraries.library' library.id %}">
      {{ library.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Edit
  </li>
{% endblock %}

{% block title %}
  Edit {{ library.name }}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/errors.html' with errors=errors %}
  <form id="library-edit" class="col-sm-4 mt-3" action="{% url 'boxwood.controllers.libraries.edit_post' library.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
  </form>
  <div class="d-flex align-items-center col-7 mt-4 mb-5">
    <input class="btn btn-primary" type="submit" form="library-edit" value="Save" />
    <a class="ml-4 mr-5" href="{% url 'boxwood.controllers.libraries.library' library.id %}">Cancel</a>
  </div>
{% endblock %}
