{% extends 'subpage.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'scripts/barcodes.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ library.name }}
  </li>
{% endblock %}

{% block title %}
  {{ library.name }}
{% endblock %}

{% block header %}
  <h2 class="d-inline-block mb-4">{{ library.name }}</h2>
  {% if request.user.profile.verified %}
    <a class="btn btn-primary ml-4 mb-3" href="{% url 'boxwood.controllers.libraries.add_game' library.id %}">
      {% if request.user.is_staff or request.user.is_superuser %}
        Add a Game
      {% else %}
        Suggest a Game
      {% endif %}
    </a>
  {% endif %}
  {% if request.user.is_staff or request.user.is_superuser %}
    <a class="btn btn-outline-primary ml-4 mb-3" href="{% url 'boxwood.controllers.libraries.edit' library.id %}">
      Edit Library
    </a>
  {% endif %}
  {% if contributed %}
    <a class="d-inline-block ml-4 mb-3" style="transform: translateY(-.3em)" href="{% url 'boxwood.controllers.libraries.checklist' library.id %}" target="_blank">
      {% include 'tags/icon.html' with name='clipboard-check' class='mb-1 mr-1' %}
      View Your Packlist
    </a>
  {% endif %}
  {% include 'tags/errors.html' with errors=errors %}
  {% include 'tags/successes.html' with successes=successes %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% comment %}
    FIXME? This isn't consistent with user profiles! User profiles makes \n a paragraph, this makes \n a <br> and \n\n a </p>
  {% endcomment %}
  <p>{{ library.description|linebreaks }}</p>
  {% if request.user.is_staff or request.user.is_superuser %}
    <div class="mb-2">
      <a class="btn btn-info" href="{% url 'boxwood.controllers.libraries.stats' library_id=library.id %}">View Stats</a>
    </div>
  {% endif %}
  {% if suggestions %}
    <h3>Suggestions</h3>
    {% include 'tags/games.html' with games=suggestions side_actions='tags/actions/library_suggested.html' %}
    <h3>Games</h3>
  {% endif %}
  {% include 'tags/filters.html' %}
  {% url 'boxwood.controllers.libraries.library' library_id=library.id as route %}
  {% include 'tags/paginator.html' with label='Games list pages (top)' classes='mb-4' pages=games_pages %}
  {% include 'tags/games.html' with action_bar='tags/actions/library_manage.html' %}
  {% if not games %}
    {% if has_filters %}
      <div class="alert alert-warning mt-3">
        No games match your search criteria. Check your spelling or try searching for something a bit more broad.
      </div>
    {% elif request.user.is_staff or request.user.is_superuser %}
      <div class="alert alert-info">
        Hey, hey. Hey. Add some games.
      </div>
    {% else %}
      <p>Sorry, this list is empty. They should add some games to it.</p>
    {% endif %}
  {% endif %}
  {% include 'tags/paginator.html' with label='Games list pages (bottom)' classes='mt-4 mb-5' pages=games_pages %}
{% endblock %}
