{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    New Library
  </li>
{% endblock %}

{% block title %}
  New Library
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/errors.html' with errors=errors %}
  <form id="library-edit" class="col-10 col-sm-8 col-md-6 col-lg-4 mt-3" action="{% url 'boxwood.controllers.libraries.new_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
  </form>
  <div class="d-flex align-items-center col-7 mt-4 mb-5">
    <input class="btn btn-primary" type="submit" form="library-edit" value="Save" />
    <a class="ml-4 mr-5" href="{% url 'boxwood.controllers.index' %}">Cancel</a>
  </div>
{% endblock %}
