{% extends 'subpage.html' %}
{% load static %}
{% load bootstrap4 %}

{% block scripts %}
  <script src="{% static 'scripts/d3-6.6.0.min.js' %}"></script>
  <script src="{% static 'scripts/luxon.min.js' %}"></script>
  {{ checkouts|json_script:'CHART_DATA' }}
  <script src="{% static 'scripts/charts.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active">
    Libraries
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.libraries.library' library.id %}">{{ library.name }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Stats
  </li>
{% endblock %}

{% block title %}
  Stats for {{ library.name }}
{% endblock %}

{% block content %}
  {{ block.super }}
  <p>Stats are fun. Send us suggestions on other things that should be stats.</p>
  <div class="row">
    <div class="card mb-4 alert-secondary pt-1">
      <form class="form card-body d-flex flex-wrap pt-2" action="{% url 'boxwood.controllers.libraries.stats' library.id %}" method="get">
        {% bootstrap_form form form_group_class='mr-3 mb-0' %}
        <button class="btn btn-primary align-self-start" style="margin-top: 2rem">Change Dates</button>
      </form>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Top 10 Most Played Games</div>
      <div class="card-body text-info pt-2 pb-2">
        <ol class="card-text list-group-flush stats" reversed>
        {% for game in top_10_games_played %}
          <li class="list-group-item">
            <span class="stats-number">{{ game.checkouts }}</span>
            <a href="https://boardgamegeek.com/boardgame/{{ game.bgg_id }}" title="{{ game.name }} by {{ game.publisher }}">
              <span class="d-block text-nowrap text-truncate">{{ game.name }}</span>
              <span class="d-block text-nowrap text-truncate small">by {{ game.publisher }}</span>
            </a>
          </li>
        {% empty %}
          <li>No games played in this time range.</li>
        {% endfor %}
        </ol>
      </div>
    </div>
    <div class="card ml-3">
      <div class="card-body">
        <h5 class="card-title d-inline-block">Checkouts</h5>
        <button id="checkout_chart_back" class="btn btn-link d-none" style="margin-top: calc(-.375rem + 1px)">Back to Days</button>
        <div id="checkout_chart"></div>
        <p id="checkout_chart_text" class="card-text"></p>
      </div>
    </div>
  </div>
{% endblock %}
