{% extends 'subpage.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">Not Found</li>
{% endblock %}

{% block title %}
  {{ exception }}
{% endblock %}

{% block content %}
  {{ block.super }}
  <p class="position-relative" style="z-index: 1">
    If you feel you got to this page by mistake and it's not supposed to be missing, <a href="{{ ORG_CONTACT }}">let us know how you got here</a> and we'll take a look.
    Otherwise, just <a href="javascript:history.back(-1)">go back to the last page</a> you were on to go somewhere else.
  </p>
  <span class="text-light position-absolute" style="top: 50%; left: 50%; margin-top: 3.5rem; transform: translate(-50%, -50%) rotate(-11.25deg)" aria-hidden="true">
    {% include 'tags/icon.html' with name='compass' iw="35vh" ih="35vh" %}
  </span>
{% endblock %}
