{% extends 'subpage.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">Error</li>
{% endblock %}

{% block title %}
  500 Error
{% endblock %}

{% block content %}
  {{ block.super }}
  <p class="position-relative" style="z-index: 1">
    Great Scott! Please <a href="{{ ORG_CONTACT }}">let us know what triggered this error</a> as best you can and we'll take a look.
    You can try <a href="javascript:history.back(-1)">going back to the last page</a> you were on or come back later in hopes we've fixed the problem by then.
  </p>
  <span class="text-light position-absolute" style="top: 50%; left: 50%; margin-top: 3.5rem; transform: translate(-50%, -50%) rotate(-11.25deg)" aria-hidden="true">
    {% include 'tags/icon.html' with name='x-octagon' iw="35vh" ih="35vh" %}
  </span>
{% endblock %}
