{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    {{ username }}
  </li>
{% endblock %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/errors.html' with errors=errors %}
  <form id="profile-edit" class="col-10 col-sm-8 col-md-6 col-lg-4 mt-3" action="{% url 'boxwood.controllers.user.edit_post' user.username %}" method="post">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form profile_form %}
  </form>
  <div class="d-flex align-items-center col-7 mt-4 mb-5">
    <input class="btn btn-primary" type="submit" form="profile-edit" value="Save" />
    <a class="ml-4 mr-5" href="{% url 'boxwood.controllers.user.profile' user.username %}">Cancel</a>
  </div>
{% endblock %}
