{% extends 'subpage.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.user.profile' username %}">{{ username }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Lists
  </li>
{% endblock %}

{% block title %}
  {{ username }}'s Lists
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/successes.html' with successes=successes %}
  {% if username == request.user.username and request.user.profile.verified %}
    <p>
      If you're not seeing a list here you have on Board Game Arena, it may have been filered out.
      Lists with names similar to "wishlist," "previously owned," and "want to buy" are skipped during import.
    </p>
    <p class="mb-4">
      Click the {% include 'tags/icon.html' with name='share' class='mb-1' alt='Make list lendable' %}
      button to toggle the availability of games in a list for use in {{ ORG_NAME_SHORT }} event libraries.
    </p>
  {% endif %}
  {% if username != request.user.username or request.user.profile.verified %}
    {% url 'boxwood.controllers.users.lists' username=username as route %}
    {% include 'tags/paginator.html' with label='User list pages (top)' classes='mb-4' pages=lists_pages %}
    {% include 'tags/lists.html' with pages=lists_pages %}
    {% include 'tags/paginator.html' with label='User list pages (bottom)' classes='mt-4 mb-5' pages=lists_pages %}
  {% else %}
    <div class="alert alert-info" role="alert">
      Sorry, only verified users are synced with this site. If you feel you are seeing this in error, <a href="{{ ORG_CONTACT }}">please contact {{ ORG_NAME }}</a> and let us know.
    </div>
  {% endif %}
{% endblock %}
