{% extends 'subpage.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'scripts/barcodes.js' %}"></script>
  <!-- Uuuuuugh -->
  <script src="{% static 'scripts/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.user.profile' username %}">{{ username }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.user.lists' username %}">Lists</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {{ list.name }}
  </li>
{% endblock %}

{% block title %}
  {{ list.name }} by {{ username }}
{% endblock %}

{% block header %}
  <h2 class="mb-4">{{ list.name }} by {{ username }}</h2>
  {% include 'tags/errors.html' with errors=errors %}
  {% include 'tags/successes.html' with successes=successes %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/filters.html' %}
  {% url 'boxwood.controllers.user.list' username=username list_id=list.id as route %}
  {% include 'tags/paginator.html' with label='Games list pages (top)' classes='mb-4' pages=games_pages %}
  {% if username == request.user.username %}
    {% include 'tags/games.html' with side_actions='tags/actions/list_add.html' action_bar='tags/actions/listgame_manage.html' %}
  {% else %}
    {% include 'tags/games.html' with side_actions='tags/actions/list_add.html' %}
  {% endif %}
  {% if not games %}
    {% if has_filters %}
      <div class="alert alert-warning mt-3">
        No games match your search criteria. Check your spelling or try searching for something a bit more broad.
      </div>
    {% elif username == request.user.username %}
      <div class="alert alert-info">
        It's really dark in here. Go <a href="https://www.boardgameatlas.com/u/{{ request.user.username }}/{{ list.id }}/{{ list.handle }}">add some games to this list</a>.
      </div>
    {% else %}
      <p>Sorry, this list is empty. They should add some games to it.</p>
    {% endif %}
  {% endif %}
  {% include 'tags/paginator.html' with label='Games list pages (bottom)' classes='mt-4 mb-5' pages=games_pages %}
{% endblock %}
