{% extends 'subpage.html' %}
{% load static %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">
    {{ username }}
  </li>
{% endblock %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block header %}
  <h2 class="d-inline-block mb-4">
    {% if user.first_name %}
      {{ user.first_name }} <small class="text-muted">({{ user.username }})</small>
    {% else %}
      {{ user.username }}
    {% endif %}
  </h2>
  <a class="ml-4" href="{% url 'boxwood.controllers.user.lists' user.username %}">View Lists</a>
{% endblock %}

{% block content %}
  <div>
    {% include 'tags/icon.html' with name='geo-alt-fill' class='text-muted mb-1' alt='Location: ' %}
    {% if user.profile.location %}
      {{ user.profile.location }}
    {% else %}
      Anywhere
    {% endif %}
  </div>
  {% include 'tags/roles.html' with user=user %}
  <div class="mt-3">
    <a class="social-icon" href="https://www.boardgameatlas.com/u/{{ user.username }}" title="Board Game Atlas" >
      {% comment %}No branding page, guidelines, or SVG to be found. Shame.{% endcomment %}
      <img src="{% static 'images/boardgameatlas-logo.jpg' %}" alt="Board Game Atlas">
    </a>
    {% if user.profile.bgg_username %}
      <a class="social-icon" href="https://twitter.com/{{ user.profile.twitter_handle }}" title="BoardGameGeek" style="width: 67px">
        {% comment %}
          Surprisingly no branding page or guidelines, but they do at least have an SVG logo.
          A branding page would saved time searching by showing they DO allow a verison with purple initials to avoid white on white.
        {% endcomment %}
        <svg aria-labeledby="bgg" width="100%" height="100%">
          <title id="bgg">BoardGameGeek</title>
          <use xlink:href="{% static 'images/bgg-logo.svg' %}#wide"/>
        </svg>
      </a>
    {% endif %}
    {% if user.profile.bga_username %}
      <a class="social-icon" href="https://twitter.com/{{ user.profile.twitter_handle }}" title="Board Game Arena" >
        {% comment %}No branding page, guidelines, or SVG to be found. Also shame!{% endcomment %}
        <img src="{% static 'images/boardgamearena-logo.png' %}" alt="Board Game Arena">
      </a>
    {% endif %}
    {% if user.profile.twitter_handle %}
      <a class="social-icon" href="https://twitter.com/{{ user.profile.twitter_handle }}" title="Twitter"  style="color: #1d9bf0">
        {% include 'tags/icon.html' with name='twitter' alt='Twitter' iw='32' ih='32' %}
      </a>
    {% endif %}
  </div>
  {% if user.profile.about %}
    <div class="card mt-5">
      <div class="card-body">
        {% for paragraph in user.profile.about_paragraphs %}
          <p class="card-text">{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
{% endblock %}
