{% extends 'subpage.html' %}
{% load bootstrap4 %}

{% block breadcrumb %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.user.profile' user.username %}">{{ user.username }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Complete Sign-Up
  </li>
{% endblock %}

{% block title %}
  Complete Sign-Up
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'tags/errors.html' with errors=errors %}
  <form id="verification-edit" class="col-10 col-sm-8 col-md-6 col-lg-4 mt-3" action="{% url 'boxwood.controllers.user.ready_verification_post' user.username %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {% bootstrap_form form %}
  </form>
  <div class="d-flex align-items-center col-7 mt-4 mb-5">
    <input class="btn btn-primary" type="submit" form="verification-edit" value="Complete" />
  </div>
{% endblock %}
