<!DOCTYPE html>
{% load static %}
<html{% if POWERED_BY %} class="footer"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ APP_NAME }}: {% block title %}{{ ORG_NAME_SHORT }} Library Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    {% block scripts %}
    {% endblock %}
  </head>
  <body{% if POWERED_BY %} class="footer"{% endif %}>
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <div class="container">
        {% block nav %}
          {% include 'tags/brand.html' %}
          <ol class="breadcrumb mt-2 mb-2 p-0 bg-dark" aria-label="breadcrumb">
            {% block breadcrumb %}
              <li class="breadcrumb-item active text-light" aria-current="page">{{ APP_NAME }}</li>
            {% endblock %}
          </ol>
          <div class="ml-auto text-light">
            {% if request.user and request.user.is_authenticated %}
              Welcome,
              {% if request.user and request.user.first_name %}
                {{ request.user.first_name }}
              {% else %}
                {{ request.user.username }}
              {% endif %}
              <a class="ml-1" href="{% url 'boxwood.controllers.user.lists' request.user.username %}" title="Your Lists" aria-label="Your Lists">{% include 'tags/icon.html' with name='collection-fill' class='mb-1' %}</a>
              <a class="ml-1" href="{% url 'boxwood.controllers.user.edit' request.user.username %}" title="Your Profile" aria-label="Edit Your Profile">{% include 'tags/icon.html' with name='gear-fill' class='mb-1' %}</a>
              {% if request.user.is_staff %}
                <a class="ml-1" href="/admin/" title="Admin Area (hardhat required)" aria-label="Admin Area">{% include 'tags/icon.html' with name='tools' class='mb-1' %}</a>
              {% endif %}
            {% else %}
              <a class="ml-3 btn btn-primary" type="submit" href="{% url 'social:begin' 'boardgameatlas' %}?next={{ request.path }}">Log In with Board Game Atlas</a>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </nav>
    <main class="container pt-3">
      {% block header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </main>
    {% if POWERED_BY %}
      <footer class="container pt-1 pb-1 text-center">Powered by <a href="https://bitbucket.com/AMcBain/boxwood">Boxwood</a></footer>
    {% endif %}
  </body>
</html>
