{% extends 'base.html' %}

{% comment %}
  Shortcuts for non-root pages, including the title/header area and a modified base breadcrumb that is linkified.
  This can help consistency across pages, instead of each one doing their own title/header things.
{% endcomment %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'boxwood.controllers.index' %}" aria-label="Go to Dashboard" class="d-flex">{{ APP_NAME }}</a>
  </li>
{% endblock %}

{% block header %}
  <h2 class="mb-4">{% block title %}Subpage Title{% endblock %}</h2>
{% endblock %}
