{% if request.user.is_staff or request.user.is_superuser %}
  <form id="checkout-{{ librarygame.id }}" class="col-7 col-md-2 col-sm-5 pr-3 {% if listgame.list.user.username %}mb-3 mb-md-0{% else %}d-none d-md-block{% endif %}" action="{% url 'boxwood.controllers.libraries.check_out' library.id %}" method="post">
    {% if listgame.list.user.username %}
      {% csrf_token %}
      <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
      <input type="hidden" name="next" value="{{ request.get_full_path }}#id_{{ librarygame.id }}">
      <label class="sr-only" for="checkinout-text-{{ librarygame.id }}">Badge #</label>
      <input id="checkout-text-{{ librarygame.id }}" type="text" name="badge" maxlength="10" class="form-control" placeholder="Badge #"{% if not librarygame.checked_out %} required{% endif %}>
   {% endif %}
  </form>
  <div class="col-5 col-md-3 col-sm-7 {% if listgame.list.user.username %}mb-3 mb-md-0{% endif %}">
    {% if listgame.list.user.username %}
      {% if librarygame.checked_out %}
        <button class="btn btn-primary" form="checkout-{{ librarygame.id }}" formaction="{% url 'boxwood.controllers.libraries.check_in' library.id %}">Check In</button>
      {% else %}
        <button class="btn btn-primary" form="checkout-{{ librarygame.id }}">Check Out</button>
      {% endif %}
    {% else %}
      <form action="{% url 'boxwood.controllers.libraries.confirm_game' library.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="librarygame_id" value="{{ librarygame.id }}">
        <input type="hidden" name="next" value="{{ request.get_full_path }}#id_{{ librarygame.id }}">
        <button class="btn btn-outline-primary">Fulfill Game</button>
      </form>
    {% endif %}
  </div>
  {% if not librarygame.is_virtual %}
    {% url 'boxwood.controllers.libraries.set_barcode' library.id as route %}
    {% include 'tags/barcode.html' %}
  {% else %}
    <div class="col-md-5 d-none d-md-block"></div>
  {% endif %}
{% else %}
  <div class="col-md-10 d-none d-md-block"></div>
{% endif %}
{% if request.user.is_staff or request.user.is_superuser or listgame.list.user.username == request.user.username %}
  <div class="{% if not listgame.list.user.username %}col-7 {% endif %}col-md-2 d-flex justify-content-end align-items-center{% if not listgame.list.user.username %} col-sm-5{% endif %}">
    <form action="{% url 'boxwood.controllers.libraries.remove_from_library' library.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
      <input type="hidden" name="next" value="{{ request.get_full_path }}">
      <button class="btn btn-outline-danger">Remove</button>
    </form>
  </div>
{% endif %}