<form action="{% url 'boxwood.controllers.libraries.confirm_game' library.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="game_id" value="{{ game.id }}">
  <input type="hidden" name="next" value="{% url 'boxwood.controllers.libraries.library' library.id %}">
  <button class="btn btn-primary">Add</button>
</form>