{% if entry.suggested and request.user.is_staff or entry.suggested and request.user.is_superuser %}
  <form action="{% url 'boxwood.controllers.libraries.confirm_game' library.id %}" method="post">
    {% csrf_token %}
    {% if listgame.list %}
      <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
    {% else %}
      <input type="hidden" name="game_id" value="{{ game.id }}">
    {% endif %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <button class="btn btn-primary mr-2"{% if listgame.list %} formaction="{% url 'boxwood.controllers.libraries.confirm_game_post' library.id %}"{% endif %}>
      {% include 'tags/icon.html' with name='check2' class='m-n1 mb-1' alt='Accept' iw='1.5em' ih='1.5em' style='margin-bottom: 0 !important' %}
    </button>
  </form>
  <form action="{% url 'boxwood.controllers.libraries.remove_from_library' library.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <button class="btn btn-outline-danger">
      {% include 'tags/icon.html' with name='x' class='m-n1 mb-1' alt='Reject' iw='1.5em' ih='1.5em' style='margin-bottom: 0 !important' %}
    </button>
  </form>
{% endif %}
