<form action="{% url 'boxwood.controllers.libraries.confirm_game_post' library.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
  {% if from_librarygame %}
    <input type="hidden" name="librarygame_id" value="{{ from_librarygame }}">
  {% endif %}
  <input type="hidden" name="next" value="{% url 'boxwood.controllers.libraries.library' library.id %}">
  <button class="btn btn-primary">Select</button>
</form>