{% if request.user.is_superuser or request.user.is_staff %}
  <form action="{% url 'boxwood.controllers.libraries.add_to_library' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="listgame_id" value="{{ listgame.id }}">
    <input type="hidden" name="next" value="{{ request.get_full_path }}{% if id %}#id_{{ id }}{% endif %}">
    <button class="btn btn-primary">Add</button>
  </form>
{% elif request.user.is_authenticated %}
  <form action="{% url 'boxwood.controllers.libraries.add_to_library' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}{% if id %}#id_{{ id }}{% endif %}">
    {% if username == request.user.username %}
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="suggest-{{ listgame.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Suggest
        </button>
        <div class="dropdown-menu" aria-labelledby="suggest-{{ listgame.id }}">
          <button class="dropdown-item" name="game_id" value="{{ game.id }}">This Game</button>
          <button class="dropdown-item" name="listgame_id" value="{{ listgame.id }}">Your Copy</button>
        </div>
      </div>
    {% else %}
      <input type="hidden" name="game_id" value="{{ game.id }}">
      <button class="btn btn-primary">Suggest</button>
    {% endif %}
  </form>
{% endif %}