/*
   Styles should largely be relying on Bootstrap to avoid custom stuff that
   doesn't translate well between themes. Unfortunately there are a few holes in
   Bootstrap and their Doc styles are mostly Bootstrap with tiny bits of custom
   styles. :( Keeping custom styles to a minimum makes it easier for others to
   add new stuff based on the Bootstrap docs and other examples within our own
   site and having it look the same.
*/

/* Full-height stuff for the footer. */
html.footer {
  height: 100%;
}

body.footer {
  position: relative;
  min-height: calc(100% - 3.5rem);
  padding-bottom: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Match height of top fixed top header. Needs an @media if we do collapsing. */
main {
  margin-top: 3.5rem;
}

/*
 * The breadcrumbs cause it to wrap here.
 * There's a Bootstrap collapse thing we can do, but that's really for turning standard navigation buttons into a menu.
 */
@media (max-width: 767px) {
  main {
    margin-top: 5.25rem;
  }
}

/* Don't like this, but some lists have long names so we wrap into three lines instead of two, and earlier than expected. */
@media (max-width: 500px) {
  main {
    margin-top: 7.75rem;
  }
}

@media (max-width: 459px) {
  main {
    margin-top: 9.25rem;
  }
}

ul.row > [class^="col"], ol.row > [class^="col"] {
  list-style-type: none;
}

.d-flex > .badge {
  align-self: center;
}

/* The default line-height in this case is too short and truncate 'g' and 'y'. */
.h1.text-truncate, .h2.text-truncate, .h3.text-truncate, .h4.text-truncate, .h5.text-truncate, .h6.text-truncate,
 h1.text-truncate,  h2.text-truncate,  h3.text-truncate,  h4.text-truncate,  h5.text-truncate,  h6.text-truncate {
  line-height: 1.31;
}

.social-icon {
  display: inline-block;
  /* Tried making them smaller (18x18) but they just didn't look right. */
  width: 32px;
  height: 32px;
  /*
   * Twitter would say we're violating their brand guidelines here, not that anyone follows them.
   * They want 1.5 x size spacing (top and bottom), so 48px!
   */
  margin-right: 16px;
}

.social-icon img {
  display: block;
  width: 100%;
  max-height: 100%;
}

.social-icon svg {
  vertical-align: baseline;
}

.avatar-img-top {
  max-width: calc(100% - 2.5rem);
  margin: 1.25rem;
  margin-bottom: 0;
  /* Totally stolen from the Atlas. Hey, if they're going to send back CSS in the user data how else am I expected to make it look similar? */
  background: radial-gradient(circle, #ffe7a6, #f5cd84, #e68e39);
  border: 10px solid #5d3b00;
  border-radius: 50%;
}

.avatar-img {
  display: block;
  max-width: 100%;
  min-height: 143px; /* Guess to prevent expansion after loading. */
}

.avatar-img[src=""] {
  visibility: hidden;
}

.stats {
    list-style-type: none;
    padding-left: 0;
}

.stats li {
    position: relative;
    padding-left: 2.75em;
}

.stats li:last-child {
    margin-bottom: 0;
}

/* Absolute crap. */
.stats-number {
    position: absolute;
    top: 50%;
    left: .05em;
    transform: translateY(-50%) translateY(-.025em);
    font-size: 2.7em;
    line-height: 1em;
}
